<!DOCTYPE html>
<html lang="{{ (page.lang or site.lang or "en") }}">
  {% include "head.njk" %}
  <body>

		{% include "header.njk" %}

    <div class="container mx-auto">
			{{ content | safe }}
    </div>

    {% include "footer.njk" %}

    <!-- JavaScript -->
    <script src="/assets/js/index.js"></script>
  </body>
</html>
