<div class="container mx-auto">
  <nav class="flex flex-row justify-between mb-4">
    <div class="">
      <button aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation" class="lg:hidden navbar-toggler" data-target="#navbarHeader" data-toggle="collapse" type="button">
        <i class="fa fa-fs fa-bars"></i>
      </button>
      <a href="/">
        <img class="img-fluid" src="/assets/images/sg-logo.svg" alt="Stubborn Goods Logo" style="width: 100% \9;"/>
      </a>
    </div>
    <div class="pt-5 hidden lg:flex collapse navbar-collapse" id="navbarHeader">
      <ul class="flex flex-row justify-end ml-auto">
        {%- for nav in collections.nav | ordered | reverse -%}
        <li class="ml-3 {% if nav.url == page.url %} text-bold{% endif %}">
          <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
        </li>
        {%- endfor -%}
        <li class="ml-3">
          <a class="" href="https://twitter.com/intent/user?screen_name={{ site.social.twitter }}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="ml-3">
          <a class="" href="https://facebook.com/{{ site.social.facebook }}" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="ml-3">
          <a class="" href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
