---
layout: default
---

<article class="">
  <h1 class="pb-0">{{ title }}</h1>
  <div class="text-gray-700 pb-6">
    {{ author }} | {{ page.date | displayDate }}
  </div>
  <div class="content">
    {{ content | safe }}
  </div>
</article>

{% set prev = page | prevPost %}
{% set next = page | nextPost %}

<nav class="flex flex-row">
  <a class="mr-5" href="{{ prev.url }}">{{ prev.data.title }}</a>
  <a class="mr-5" href="{{ next.url }}">{{ next.data.title }}</a>
</nav>
