---
layout: default
---

<article class="flex flex-auto flex-col justify-center mb-5 p-5">
  <h1 class="text-center mt-5 text-lg">{{ site.description }}</h1>
  <p class="text-lg text-center">
		A basic starter site with 11ty, ParcelJS, StimulusJS, and TailwindCSS.
  </p>
  <div>
    {% for post in (collections.post | head(-3) ) %}
      <li>
        <a href="{{post.url}}">
          {{ post.data.title }}
        </a>
        | {{ (post.data.tags or []) | join(', ') }}
        | {{ post.date.toDateString() }}
      </li>
    {% endfor %}
		<a href="{{ "/posts/" | url }}">All</a>
  </div>
</article>
