---
layout: default
---

<article class="flex flex-auto flex-col justify-center mb-5 p-5">
  <h1 class="text-center mt-5 text-lg">{{ site.description }}</h1>
  <p class="text-lg text-center">
    Inspired by skateboarding, climbing, and brazilian jiu-jitsu. Made in Colorado.
  </p>
</article>
