---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {% if item.data.premier.date -%}
    <lastmod>{{ item.data.premier.date | isoDate }}</lastmod>
    {%- else -%}
    <lastmod>{{ item.date | isoDate }}</lastmod>
    {%- endif %}
    <changefreq>{{ item.data.changefreq | default("monthly", true) }}</changefreq>
    <priority>{{ item.data.priority | default("0.5", true) }}</priority>
  </url>
{%- endfor %}
</urlset>
